<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>แอปต้องการส่งการแจ้งเตือนเพื่อเตือนให้คุณกินยาตามเวลาที่กำหนด</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>แอปต้องการเข้าถึงรูปภาพเพื่อใช้สแกนฉลากยา</string>
	<key>NSCameraUsageDescription</key>
	<string>แอปต้องการใช้กล้องเพื่อสแกนรหัส QR เพื่อเข้าร่วมกลุ่ม</string>
</dict>
</plist>
